
propertyOne = 'world'

includeConfig 'config/general.config'

env { 
  wfname = 'testWorkflow'
  DELTA = 'foo'
  GAMMA = 'bar'
}



profiles {
    standard {
        process.executor = 'local'
        process.maxForks = 3
    }

    slurm {
        includeConfig 'config/slurm.config'
    }

    awsbatch {
        includeConfig 'config/awsbatch.config'
    }
}
