singularity {
    enabled = true
}

docker {
    enabled = false
}



process { 

  executor {
      queueSize = 100
      pollInterval = '30sec'
      jobName = {  "$params.pipeName ---- $task.hash" } 
      submitRateLimit = '10 sec' 
 }

    withLabel: short_queue {
        executor = 'slurm'
        cpus = 1
        memory = { 8.GB * task.attempt } 
        clusterOptions = "--qos=short --job-name=$params.pipeName"
    }
 
    withLabel: big_mem {
        executor = 'slurm'
        cpus = 1
        memory = 2.GB
        clusterOptions = "--qos=short "
    }
}

params {

   salmonIndex = '/groups/Software/indices/hg38/salmon/gencode.v28.IMPACT'

}
